#detail_form{
    text-align: center;  
}

label{
    display: inline-block;
    width: 130px;
    text-align: left;
}

h1{
    text-align: center;
}

input[type="number"]{
    width: 200px;
}

.button1{
    text-align: center;
    width: 150px;
    margin: 20px 800px 20px;
}

.container{
    margin-left:630px
}

.rounded-input {
    padding:5px;
    border: solid 5px;
    border-color: rgb(252, 185, 248);
}

.color_block {
    background-color: rgb(149, 226, 7);
}

.curr_select_cell {
    background-color: rgba(185, 89, 185, 0.932);
}

.adj_curr_select_cell {
    background-color: tomato;
}

#mytable{
    margin: 0 auto;
}

.button {
    background-color: #f32c2c; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

table{
      border-collapse:collapse;
}

th, td {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border:solid 2px;
    cursor: pointer;
}
